@font-face {
    font-family: neu;
    src: url(font/NemoNightmares/Nemo\ Nightmares.ttf)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
    
}


#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav {
    padding: 2vw 2vw;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 100px;
    width: 120px;
    
}
.nav-part2{ 
    display: flex;
    align-items: center;
    gap: 1vw;

}
.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    position: relative;
    transition: all ease 0.4s;
    font-size: 17px;
    overflow: hidden;
    
}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: white;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    border-radius: 50%;
}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
    
}

.nav-part2 h4 a{
    color: white;
    text-decoration: none;
    z-index: 9;
    position: relative;
}
.nav-part2 h4:hover a{
    color: black;
}

#center {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#left h3{
    width: 30vw;
    font-size: 3vw;
    font-family: neu;
}

#center h1{
    font-size: 7vw;
    line-height: 7vw;
    text-align: center;
}
#page1 video{
    border-radius: 20px;
    margin-top: 4.5vw;
    width: 100%;
    position: relative;
}
#hero-shape{
    position: absolute;
    width: 40vw;
    height: 36vw;
    right: 0;
    top: 82vh;
}
#hero1 {
    height: 100%;
    width: 100%;
    background:linear-gradient(red, rgb(179, 0, 255));
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50% ;

    position: absolute;
    filter: blur(15px);
}

#hero2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(red, blue);
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    list-style: none;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero3 {
    height: 30vw;
    width: 30vw; 
    background: linear-gradient(red, blue);
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
    list-style: none;
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    from{
        transform: translate(55%, -3%);

    }
    to{
        transform: translate(0%,10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);

    }
    to{
        transform: translate(-20%,30%);
    }
    
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 7vw 0;
    position: relative;
}

#moving-text {
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 5.5vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #8400b9;
    margin: 1vw 1vw;
    top: 50px;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 70vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 1vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, red, blue);
    /* background: linear-gradient(to top right,red,blue); */


    top: 48%;
    left: 10%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(45, 45, 45);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem a {
    color: inherit;  /* Use the default text color */
    text-decoration: none;  /* Remove the underline */
    cursor: pointer;  /* Add a pointer cursor on hover for better usability */
}


.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(153, 0, 255);
    position: absolute;
    left: 0;
    top: -100%;
    transition: 0.25s;
}

.elem:hover .overlay{
    top: 0; 
}

#fixed-image {
    height: 30vw;
    width: 23vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page3 #project h5 {
    font-size: 1vw;
    text-align: left;
    position: relative;
    left: 37px;
    display: flex;
    align-items: center;
}

#page3 #project h5 .smol {
    height: 1vw;
    width: 1vw;
    background-color: #8400b9;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}

#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: black;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

